langchain-community
langchain-groq
groq
python-dotenv
typing-extensions
langgraph
arxiv
wikipedia
langchain

# Core Libraries


# Data Processing
pandas
yfinance
numpy==1.24.3
pmdarima==2.0.0

# Visualization
matplotlib
seaborn

# Optional: For advanced processing
scikit-learn
scipy

# Development and Testing
pytest
black
flake8


python-multipart
uvicorn
fastapi
pytest